.grid_1 { width: 6.5%; } /* 65px/1000px = 0.065px */
.grid_1a{ width: 6.5%; }
.grid_2 { width: 15%; } /* 150px/1000px =  0.15px */
.grid_3 { width: 23.5%; } /* 235px/1000px = 0.235px */
.grid_4 { width: 32%; } /* 320px/1000px = 0.32px */
.grid_5 { width: 40.5%; } /* 405px/1000px = 0.405px */
.grid_6 { width: 49%; } /* 490px/1000px = 0.49px */
.grid_7 { width: 57.5%; } /* 575px/1000px = 0.575px */
.grid_8 { width: 66%; } /* 660px/1000px = 0.66px */
.grid_9 { width: 74.5%; } /* 745px/1000px = 0.745px */
.grid_10 { width: 83%; } /* 830px/1000px = 0.83px */
.grid_11 { width: 91.5%; } /* 915px/1000px = 0.915px */
.grid_12 { width: 100%; } /* 1000px/1000px = 1 */

.grid_1,
.grid_1a,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9, 
.grid_10,
.grid_11,
.grid_12 {
	float: left;
	display: inline-block;
	box-sizing:border-box;
}

.left { /* overrides margin for left most elements */
	margin-left: 0;
}
  
.right { /* overrides margin for right most elements */
	margin-right: 0;
} 

.vertMiddle {
	position: relative;
	top: 50%;
	transform: translateY(75%);
}
.bigWrapper{  /*  sets the page width, the only absolute size in pixels */
	width: 100%; 
	max-width: 100%;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: auto;
	margin-top: auto;
	
}

.wrapper { /*  outer div container, to hold grid divisions */
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	float: left;
	display: block;
	box-sizing:border-box;
}

html{
	background: linear-gradient(180deg, #CCCCCC, #FFFFFF);
}

.grid_1{
	position: absolute;
	background: linear-gradient(0deg, #E6EBFA, #6685E0);
	width: 68px;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: 1px solid blue;
}

.grid_1 h1{
	border-bottom: 1px solid white;
}

.grid_1a h1{
	color: red;
	position: absolute;
	margin-left: 70px;
	padding-left: 5px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-bottom: 1px solid blue;
}

.grid_10{
	margin-left: 190px;
	background: linear-gradient(0deg, #E6EBFA, #6685E0);
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: 1px solid blue;
	margin-right: 1em;
}

.grid_10 h1{
	margin-left: 5px;
	border-bottom: 1px solid white;
}

.big_red{
	color: red;
}

.grid_12{
	background: linear-gradient(0deg, #E6EBFA, #6685E0);
	border: 1px solid blue;
	transition: transform 1s;
}

.grid_12:hover{
	transform: scale(1.02);
}

.books{
	float: left;
	margin-right: 20px;
	border-bottom: 2px solid blue;
	border-right: 2px solid blue;
	border-top: 2px solid white;
	border-left: 2px solid white;
}

.grid_12a{
	background: linear-gradient(0deg, #E6EBFA, #6685E0);
	padding: 20px;
}

.grid_12a h2{
	border-bottom: 1px solid white;
}

nav li{
	display: inline-block;
	padding-right: 20px;
	font: bold 1.5em "Trebuchet MS", Helvetica, sans-serif;
	border-right: 1px solid white;
	padding-left: 15px;
}

nav a{
	text-decoration: none;
	color: white;
	transition: color 1s;
}

nav a:hover{
	color: blue;
}

#slider{
	background: #000;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
	height: 320px;
	width: 680px;
	margin: 40px auto 0;
	overflow: visible;
	position: relative;
}

#mask{
	overflow: hidden;
	height: 320px;
}

#slider ul{
	margin: 0;
	padding: 0;
	position: relative;
}

#slider li{
	width: 680px;
	height: 320px;
	position: absolute;
	top: -325px;
	list-style: none;
	color: white;
}

#slider li.first_animation{
	animation: xfade 50s 0s infinite;
	margin-left: 220px;
	margin-top: 1px;
}

#slider li.second_animation{
	animation: xfade 50s 5s infinite;
	margin-left: 170px;
	margin-top: 20px;
}

#slider li.third_animation{
	animation: xfade 50s 10s infinite;
	margin-left: 150px;
	margin-top: 20px;
}

#slider li.fourth_animation{
	animation: xfade 50s 15s infinite;
	margin-left: 180px;
	margin-top: 65px;
}

#slider li.fifth_animation{
	animation: xfade 50s 20s infinite;
	margin-left: 200px;
	margin-top: 60px;
}

#slider li.sixth_animation{
	animation: xfade 50s 25s infinite;
	margin-left: 200px;
	margin-top: 60px;
}

#slider li.seventh_animation{
	animation: xfade 50s 30s infinite;
	margin-left: 210px;
	margin-top: 70px;
}

#slider li.eighth_animation{
	animation: xfade 50s 35s infinite;
	margin-left: 190px;
	margin-top: 70px;
}

#slider li.ninth_animation{
	animation: xfade 50s 40s infinite;
	margin-left: 210px;
	margin-top: 50px;
}

#slider li.tenth_animation{
	animation: xfade 50s 45s infinite;
	margin-left: 250px;
	margin-top: 60px;
}

@keyframes xfade{
	0%{top: -325px; opacity: 1;}
	5%{top: 0px; opacity: 1;}
	8%{top: 0px; opacity: 1;}
	15%{top: 325px; opacity: 0;}
	100%{top: -325px; opacity: 0;}
}

.progress-bar{
	position: relative;
	top: -5px;
	width: 680px;
	height: 5px;
	background: blue;
	animation: fullexpand 5s ease-out infinite;
}

@keyframes fullexpand{
	0%{width: 0%; opacity: 0;}
	5%{width: 0%; opacity: 0.3;}
	8%{width: 100%; opacity: 0.7;}
	15%{width: 100%; opacity: 0.3;}
	100%{top: 100%; opacity: 0;}
}

#slider.tooltip{
	background: rgba(0,0,0,0.7);
	width: 300px;
	height: 60px;
	position: relative;
	bottom: 75px;
	left: -320px;
}

#slider.tooltip h1{
	color: #fff;
	font-size: 24px;
	position: absolute;
	font-weight: 300;
	line-height: 60px;
	padding: 0 0 0 10px;
	transition: all 0.3s ease-in-out;
}

#slider li#first:hover.tooltip,
#slider li#second:hover.tooltip,
#slider li#third:hover.tooltip,
#slider li#fourth:hover.tooltip,
#slider li#fifth:hover.tooltip,
#slider li#sixth:hover.tooltip,
#slider li#seventh:hover.tooltip,
#slider li#eighth:hover.tooltip,
#slider li#ninth:hover.tooltip,
#slider li#tenth:hover.tooltip,
{
	left: 0px;
}

#slider:hover li,
#slider:hover.progress-bar{
	animation-play-state: paused;
}



.clear { /*  prevents float drops and puts content on its own line */
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}